* {
  box-sizing: border-box;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: gray;
  height: 3rem;

  a {
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  }
}

.welcome {
  display: flex;
  background: url('/img/welcome.jpg');
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
    h1 {
      margin: 0;
    }
    img {
      width: 10rem;
    }
    
}
.plot.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  color: black;

}



