$red: #ff0000;

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

body {
    background: #f3efe8 url('/img/bg.svg') center/cover; 
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.calc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    height: 350px;
    margin: 0 auto;
    background: rgb(240, 236, 236);

    width: 12rem;
    background-color: white;
    box-shadow: 0px 0px 32px gray;

    &__result {
        height: 3.5rem;
        line-height: 3.5rem;
        color: white;
        text-align: right;
        background-color: #867666;
        border: none;
        outline: none;
        font-size: 220%;
        padding: 0 1rem;
        font-weight: 300;
        }

    &__input {
        width: 100%;
        display: block;
        height: 3rem;
        line-height: 2.1rem;
        color: white;
        text-align: right;
        background-color: #e2d518;
        border: none;
        outline: none;
        font-size: 150%;
        padding: 0.4rem 1rem 0 1rem;
        font-weight: 300;

        &--modifier {
            color: #ac8e19;
          }
    }

    &__btn {
        
        width: 3rem;
        height: 3rem;
        background-color: #eee;
        cursor: pointer;
        border: none;
        font-size: 150%;
        font-weight: 300;
        outline: none;
        }

    .nula {
        width: 6rem;
        }

    .minus {
        height: 6rem;
    }
    &__btn--digit {
        
        width: 3rem;
        height: 3rem;
        background-color: white;
        cursor: pointer;
        border: none;
        font-size: 150%;
        font-weight: 300;
        }
        &__btn:hover {
        background-color: #ddd;
        }
        
        &__btn--digit:hover {
        background-color: #eee;
        }
        &__btn:focus {
            border: none;
        }
        
}
.telo {
    display: flex;
    
}

.clear-cast {
    display: flex;
    flex-direction: column;
} 

.times-cast{
    display: flex;
    flex-direction: column;
}

.divide-cast {
    display: flex;
    flex-direction: column;
}

.plus-minus {
    display: flex;
    flex-direction: column;
}


.nula-tecka {
    display: flex;
    
}




