* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url('girl.jpg');
  background-attachment:fixed;
  background-size: 100%;
  font-size: 18px;
  
}

.slon {
  position: relative;
  width: 10rem;
  padding-left: 30rem; 
  margin-bottom: 1rem;
}

.paragraph, p {
  margin-top: 5rem;
  margin-right: 6rem;
  float: right;
  min-width: 10rem;
}

p, h1 {
  font-family: 'Coming Soon', cursive;
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
}

