* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

.snail-racer {
  width: 100px;
}

.snail {
  width: 100px;
  height: auto;
}

.snail__body {
  fill: #6db302;
}

.snail__shell {
  fill: red;
}

.snail-racer__name {
  font-weight: bold;

}